<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>scrape</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<style>
		label {
			display: block;
			font: 1rem 'Verdana'
		}
		input,
		label {
  			margin: 0.2rem 0;
		}
		pre {
			white-space: pre-wrap;
			width: 100%;
		}
		.response-container {
			width: 100%;
			min-width: 768px;
			height: calc(100vh - 108px);
			overflow: auto;
			border: 0.1rem inset #ccc;
			padding-block: 0.0rem;
			padding-inline: 0.4rem;
			box-sizing: border-box;			
		}
	</style>
</head>
<body>
<p>
<form x-data="formHandler" @submit.prevent="handleSubmit">
<label for="url">Enter a URL:</label>
<input type="submit" value="Hit It">
<input type="url" name="url" id="url" value="https://" size="96" maxlength="200" pattern="https?://.*" required title="URL">
<select title="URL Type" x-model="formAction">
	<option value="/extract">Page</option>
	<option value="/extract/headless">Headless</option>
	<option value="/feed">Feed</option>
</select>
<input type="hidden" name="token" value="{{AuthToken}}">
<input type="hidden" name="pp" value="1">
</form>
</p>
<div class="response-container">
	<pre x-ref="responseContent" id="responseContent"></pre>
</div> 

<script type="text/javascript">
	function formHandler() {
		return {
			formAction: '/extract',
			async handleSubmit(event) {
				const form = event.target;
				const headers = new Headers();
				const token = form.token.value;
				if (token) {
					headers.append('Authorization', `Bearer ${token}`);
				}
				const formData = new FormData(form);
				formData.delete('token');
				try { 
					const response = await fetch(this.formAction, {
						method: 'POST',
						headers: headers,
						body: formData
					})
					
					if (response.ok) {
						const json = await response.json();
						const jsonStr = JSON.stringify(json, null, 2);
						this.updateContent(jsonStr);
					} else {
						const text = await response.text();
						this.updateContent(`Error ${response.status}:\n${text}`);
						throw new Error(`${response.status} - ${text}`);
					}
				} catch (error) {
					console.error(error);
				}
			},
			updateContent(content) {
				document.getElementById('responseContent').textContent = content;
				// following should work but doesn't
				// this.$refs.responseContent.textContent = content;
			}
		}
	}
</script>

</body>
</html>
